<form [formGroup]="form">
  <div class="flex flex-column gap-2">
    <label htmlFor="username">Username</label> <br />
    <input
      pInputText
      id="username"
      aria-describedby="username-help"
      formControlName="name"
    />
  </div>
  <div class="flex flex-column gap-2">
    <label htmlFor="color">color</label> <br />
    <input
      pInputText
      id="color"
      aria-describedby="username-help"
      formControlName="color"
    />
  </div>
  <div class="flex flex-column gap-2">
    <label htmlFor="pet">pet</label> <br />
    <input
      pInputText
      id="pet"
      aria-describedby="username-help"
      formControlName="pet"
    />
  </div>
  <p-button
    label="Submit"
    styleClass="p-button-raised"
    (click)="addData()"
  ></p-button>
</form>
